name: Update EPG

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  grab:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          # Cache dibuang untuk mengelakkan ralat path not found

      - name: Install and Grab EPG
        run: |
          # 1. Setup Grabber
          git clone --depth 1 https://github.com/iptv-org/epg.git grabber
          cd grabber
          npm install
          
          # 2. Jalankan Proses Grab
          export TZ="Asia/Kuala_Lumpur"
          npm run grab -- --site=mewatch.sg --days=2 --output=../mewatch.xml
          npm run grab -- --site=rtmklik.rtm.gov.my --days=2 --output=../rtmklik.xml
          npm run grab -- --site=vidio.com --days=2 --output=../vidio.xml

      - name: Download Sport EPGs (epg.pw)
        run: |
          curl -L "https://epg.pw/api/epg.xml?channel_id=171947" -o gtv.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=171939" -o soccer.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=171988" -o sportstar1.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=171965" -o sportstar2.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=411979" -o sportstar3.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=172008" -o sportstar4.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=465248" -o fs1.xml
          curl -L "https://epg.pw/api/epg.xml?channel_id=465280" -o fs2.xml

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # Pastikan folder grabber dibuang sebelum add/commit
          rm -rf grabber
          
          git add *.xml
          
          # Hapus fail lama jika wujud
          git rm sooka.xml rctiplus.xml external_epg.xml myepg.xml cignal.xml starhub.xml --ignore-unmatch
          
          TIMESTAMP=$(date -u -d "+8 hours" "+%d-%m-%Y %H:%M MYT")
          git commit -m "Update EPG: $TIMESTAMP" || exit 0
          git push
